USE [36143_Sentruity_202212]
GO
/****** Object:  StoredProcedure [dbo].[sp_01_MAKE_GPWContracts]    Script Date: 5/16/2023 9:50:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_01_MAKE_GPWContracts] AS


DECLARE @ValDate AS DATE
SET @ValDate = (SELECT ValDate FROM TBL_DBVALUES)

IF EXISTS (SELECT name FROM sysobjects
	WHERE name = 'GPWContracts')
	DROP TABLE GPWContracts
CREATE TABLE [GPWContracts] (
[Contract_Id] VARCHAR(255) NULL,
[Status_Id] int NULL,
[Insurance_Carrier] varchar (255) NULL, 
[Contract_Sale_Date] datetime NULL, 
[Production_Source] varchar (50) NULL,
[New_Used] varchar (50) NULL,
[Vehicle_Band] varchar (50) NULL, 
[Rate_Book] int NULL,
[Plan_Code] varchar (50) NULL, 
[Plan_Deductible] float NULL,
[Contract_Number] varchar (255) NULL,
[Effective_Date]datetime NULL,
[Expiration_Date] datetime NULL,
[Contract_Term] int NULL,
[Expiration_Time_Terms] int NULL,
[Sale_Odometer] int NULL,
[Expiration_Odometer] int NULL,
[Expiration_Time_mileage] int NULL,
[Make] varchar (50) NULL, 
[Model] varchar (50) NULL, 
[Model_Year] int NULL, 
[Vehicle_Class] varchar (50) NULL, 
[Surcharge_Description] varchar (255) NULL, 
[Base_Claim_Reserve] float NULL, 
[Surcharge_Reserve] float NULL, 
[Dealer_Remittance] float NULL,
[Admin_Fees] float NULL,
[Commissions] float NULL,
[Claim_Reserve_Earned] float NULL,
[Cancel_Calculation_Date] datetime NULL, 
[Refund_Date] datetime NULL, 
[Refund_Reserve_Amount] float NULL, 
[Refund_Odometer_Mileage] int NULL, 
[Admin_5] float NULL,
[Admin_7] float NULL,
[GPWPlanID] varchar (255) NULL, 
[PlanGroup] varchar (50) NULL, 
[GPWTerm] int NULL, 
[GPWCoverage] varchar (50) NULL, 
[GPWObligor] varchar (50) NULL, 
[GPW N/U/P] varchar (50) NULL, 
[GPWEffectiveDate] datetime NULL, 
[GPWEffectiveMiles] float NULL, 
[GPWTermMonths] float NULL, 
[GPWTermMiles] float NULL, 
[GPWCancelDate] datetime NULL, 
[GPWCancelMiles] float NULL, 
[GPWEffectiveQuarter] varchar (50) NULL, 
[GPWEffectiveQtr#] int NULL, 
[GPWEffectiveYear] int NULL, 
[GPWExpireDate] datetime NULL, 
[GPWExpireMiles] float NULL, 
[GPWCancelQuarter] varchar (50) NULL, 
[GPWCancelQtr#] int NULL, 
[GPWRelativeCancelQtr] int NULL, 
[GPWFlatCancel] varchar (50) NULL, 
[GPWContractCount] int NULL, 
[GPWCancelCount] int NULL, 
[GPWActiveReserve] float NULL, 
[GPWCancelReserve] float NULL, 
[GPWEstimatedAge] float NULL, 
[GPWMMEarnedPre] float NULL, 
[GPWEstimatedMiles] float NULL, 
[GPWMMEarnedPost] float NULL, 
[GPWMMEarnedTotal%] float NULL, 
[GPWMMEarned] float NULL,
[EarnedQuarters] float NULL,
[Earned%] float NULL,
[GPWNetReserves] float NULL, 
[GPWEarnedReserves] float NULL, 
[GPWUnearnedReserves] float NULL, 
[GrossReserveAdj] float NULL, 
[RefundReserveAdj] float NULL, 
[NetReserveAdj] float NULL, 
[EarnedReserveAdj] float NULL, 
[UnearnedReserveAdj] float NULL, 
[GPWSentruityGrossPrem] float NULL, 
[GPWSentruityRefunds] float NULL, 
[GPWSentruityNetPrem] float NULL, 
[GPWSentruityEarnedPrem] float NULL, 
[GPWSentruityUnearnedPrem] float NULL, 
[GPWSentruityInsured] int NULL,
[GPWState] varchar (50) NULL,
[GPWAgg_VSC_MBI] varchar (50) NULL,
[GPWAgg_GAP] varchar (50) NULL,
[GPWAgg_SNV] varchar (50) NULL,
[GPWAgg_CCC] varchar (50) NULL,
[GPWAgg_TEC] varchar (50) NULL,
[GPWAgg_MTNG] varchar (50) NULL,
[GPWAgg_LTW] varchar (50) NULL,
[GPWAgg_SDC] varchar (50) NULL,
[GPWAgg_ANCL] varchar (50) NULL,
[GPWReinsurer] varchar (255) NULL,
[GPWDealer] varchar (50) NULL,
[GPWClaimCount] int NULL,
[GPWClaims] float NULL,
GPWClaimCountHarvey float NULL
)
INSERT INTO [GPWContracts] (
[Contract_Id]  ,
[Status_Id]  ,
[Insurance_Carrier], 
[Contract_Sale_Date] , 
[Production_Source] , 
[New_Used] ,
[Vehicle_Band] , 
[Rate_Book] ,
[Plan_Code] , 
[Plan_Deductible],
[Contract_Number],
[Effective_Date] ,
[Expiration_Date]  ,
[Contract_Term] ,
[Expiration_Time_Terms]  ,
[Sale_Odometer]  ,
[Expiration_Odometer]  ,
[Expiration_Time_mileage]  ,
[Make] , 
[Model]  , 
[Model_Year]  , 
[Vehicle_Class] , 
[Surcharge_Description] , 
[Base_Claim_Reserve] , 
[Surcharge_Reserve] , 
[Dealer_Remittance] ,
[Admin_Fees] ,
[Commissions] ,
[Claim_Reserve_Earned] ,
[Cancel_Calculation_Date],
[Refund_Date], 
[Refund_Reserve_Amount] , 
[Refund_Odometer_Mileage] , 
[Admin_5] ,
[Admin_7] ,
[GPWPlanID] , 
[PlanGroup] , 
[GPWTerm] , 
[GPWCoverage] , 
[GPWObligor] , 
[GPW N/U/P] , 
[GPWEffectiveDate] , 
[GPWEffectiveMiles], 
[GPWTermMonths], 
[GPWTermMiles] , 
[GPWCancelDate], 
[GPWCancelMiles] , 
[GPWEffectiveQuarter] , 
[GPWEffectiveQtr#] , 
[GPWEffectiveYear] , 
[GPWExpireDate] , 
[GPWExpireMiles] , 
[GPWCancelQuarter] , 
[GPWCancelQtr#] , 
[GPWRelativeCancelQtr] , 
[GPWFlatCancel] , 
[GPWContractCount] , 
[GPWCancelCount] , 
[GPWActiveReserve]  , 
[GPWCancelReserve]  , 
[GPWEstimatedAge]  , 
[GPWMMEarnedPre]  , 
[GPWEstimatedMiles]  , 
[GPWMMEarnedPost]  , 
[GPWMMEarnedTotal%]  , 
[GPWMMEarned]  ,
[EarnedQuarters]  ,
[Earned%],
[GPWNetReserves] , 
[GPWEarnedReserves] , 
[GPWUnearnedReserves] , 
[GrossReserveAdj] , 
[RefundReserveAdj] , 
[NetReserveAdj] , 
[EarnedReserveAdj] , 
[UnearnedReserveAdj] , 
[GPWSentruityGrossPrem] , 
[GPWSentruityRefunds] , 
[GPWSentruityNetPrem] , 
[GPWSentruityEarnedPrem] , 
[GPWSentruityUnearnedPrem] , 
[GPWSentruityInsured],
[GPWState],
[GPWAgg_VSC_MBI],
[GPWAgg_GAP],
[GPWAgg_SNV],
[GPWAgg_CCC],
[GPWAgg_TEC],
[GPWAgg_MTNG],
[GPWAgg_LTW] ,
[GPWAgg_SDC] ,
[GPWAgg_ANCL] ,
[GPWReinsurer],
[GPWDealer],
[GPWClaimCount] ,
[GPWClaims],
GPWClaimCountHarvey
 )
SELECT 
distinct GSFSContract_Detail.Contract_Id as Contract_Id,
Status_Id as Status_Id,
LTRIM(RTRIM(GSFSContract_Detail.[Insurance_Carrier])) AS [Insurance_Carrier],
[Contract_Sale_Date] AS [Contract_Sale_Date],
[Production_Source] AS [Production_Source],
LTRIM(RTRIM(GSFSContract_Detail.[New_Used])) AS [New_Used],
LTRIM(RTRIM([Vehicle_Band])) AS [Vehicle_Band],
GSFSContract_Detail.[Rate_Book] as [Rate_Book],
LTRIM(RTRIM(GSFSContract_Detail.[Plan_Code]))AS [Plan_Code],
[Plan_Deductible] AS [Plan_Deductible],
LTRIM(RTRIM([GSFSContract_Detail].[Contract_Number])) AS [Contract_Number],
Effective_Date as Effective_Date,
Expiration_Date as Expiration_Date,
[Contract_Term] ,
Expiration_Time_Terms as Expiration_Time_Terms,
GSFSContract_Detail.Sale_Odometer as Sale_Odometer,
Expiration_Odometer as Expiration_Odometer,
Expiration_Time_mileage as Expiration_Time_mileage,
Make AS Make,
Model AS Model,
[Model_Year] AS [Model_Year],
[Vehicle_Class] AS [Vehicle_Class],
[Surcharge_Description] AS [Surcharge_Description],
[Base_Claim_Reserve] AS [Base_Claim_Reserve],
[Surcharge_Reserve] AS [Surcharge_Reserve],
Dealer_Remittance as Dealer_Remittance,
Admin_Fees as Admin_Fees,
Commissions as Commissions,
Claim_Reserve_Earned as Claim_Reserve_Earned,
--Cast((Case When [Cancel_Calculation_Date] is null Then '1/1/2100' Else [Cancel_Calculation_Date] End) as datetime) AS [Cancel_Calculation_Date],
Cast((Case When [Cancel_Calculation_Date] = '1900-01-01' or [Cancel_Calculation_Date] is null Then '1/1/2100' Else [Cancel_Calculation_Date] End) as datetime) AS [Cancel_Calculation_Date],
Cast((Case When [Refund_Date] is null or [Refund_Date] = '1900-01-01' Then '1/1/2100' Else [Refund_Date] End) as datetime) AS [Refund_Date],
[Refund_Reserve_Amount] AS [Refund_Reserve_Amount],
[Refund_Odometer_Mileage] AS [Refund_Odometer_Mileage],
[Admin_5] as [Admin_5] ,
[Admin_7] as [Admin_7] ,
LTRIM(RTRIM(GSFSContract_Detail.[Plan_Code])) + '_' + LTRIM(RTRIM(GSFSContract_Detail.[New_Used])) + '_' + LTRIM(RTRIM(GSFSContract_Detail.[Insurance_Carrier])) AS GPWPlanID,
ProgramsUnique.Program,          
--DATEDIFF(m,CAST(Contract_Sale_Date AS float),CAST(Expiration_Date AS float))-1 as [GPWTerm] , 
DATEDIFF(m,CAST(Contract_Sale_Date AS float),CAST(Expiration_Date AS float)) as [GPWTerm] , 
' ' AS GPWCoverage,        
' ' AS GPWObligor,        
' ' AS [GPW N/U/P],       
[Contract_Sale_Date] AS GPWEffectiveDate,       
GSFSContract_Detail.[Sale_Odometer] AS GPWEffectiveMiles,      
0 AS GPWTermMonths,
[Expiration_Odometer] AS GPWTermMiles,      
Cast((Case When [Cancel_Calculation_Date] is null or [Cancel_Calculation_Date] = '1900-01-01' or [Cancel_Calculation_Date] > @ValDate or [Refund_Reserve_Amount]=0 Then '1/1/2100' Else [Cancel_Calculation_Date] End) as datetime) AS GPWCancelDate,       
[Refund_Odometer_Mileage] AS GPWCancelMiles,     
' ' AS GPWEffectiveQuarter,        
0 AS [GPWEffectiveQtr#],         
0 AS GPWEffectiveYear, 
Expiration_Date as GPWExpireDate,         
0 AS GPWExpireMiles,         
' ' AS GPWCancelQuarter,        
0 AS [GPWCancelQtr#],         
0 AS GPWRelativeCancelQtr,         
' ' AS GPWFlatCancel,         
0 AS GPWContractCount,         
0 AS GPWCancelCount,         
0 AS GPWActiveReserve,         
0 AS GPWCancelReserve,         
0 AS GPWEstimatedAge,         
0 AS GPWMMEarnedPre,         
0 AS GPWEstimatedMiles,         
0 AS GPWMMEarnedPost,         
0 AS [GPWMMEarnedTotal%],         
0 AS GPWMMEarned,          
0 AS [EarnedQuarters],
0 AS [Earned%],
0 AS [GPWNetReserves] , 
0 AS [GPWEarnedReserves] , 
0 AS [GPWUnearnedReserves] , 
0 AS [GrossReserveAdj] , 
0 AS [RefundReserveAdj] , 
0 AS [NetReserveAdj] , 
0 AS [EarnedReserveAdj] , 
0 AS [UnearnedReserveAdj] , 
0 AS [GPWSentruityGrossPrem] , 
0 AS [GPWSentruityRefunds] , 
0 AS [GPWSentruityNetPrem] , 
0 AS [GPWSentruityEarnedPrem] , 
0 AS [GPWSentruityUnearnedPrem] , 
0 AS [GPWSentruityInsured],
coalesce([GSFSContract_Detail].[sIssue_State],SentruityContractList2014.[Insured State]) AS GPWState,
'' AS [GPWAgg_VSC_MBI],
'' AS [GPWAgg_GAP],
'' AS [GPWAgg_SNV],
'' AS [GPWAgg_CCC],
'' AS [GPWAgg_TEC],
'' AS [GPWAgg_MTNG],
'' AS [GPWAgg_LTW] ,
'' AS [GPWAgg_SDC] ,
'' AS [GPWAgg_ANCL] ,
'Retained' AS [GPWReinsurer],
coalesce(SentruityContractByDealerCode.[Dealer No], SentruityContractList2014.[Dealer Number],SentruityContractSplit2022List.[Dealer No],GPWContractsLookupFor2022.[GPWDealer]),
0 AS [GPWClaimCount] ,
0 AS [GPWClaims],
0 as GPWClaimCountHarvey
FROM ([GSFSContract_Detail] LEFT OUTER JOIN ProgramsUnique ON 
LTRIM(RTRIM(dbo.GSFSContract_Detail.Insurance_Carrier)) = LTRIM(RTRIM(dbo.ProgramsUnique.Insurance_Carrier)) AND 
LTRIM(RTRIM(dbo.GSFSContract_Detail.Plan_Code)) = LTRIM(RTRIM(dbo.ProgramsUnique.Plan_Code)) AND 
LTRIM(RTRIM(dbo.GSFSContract_Detail.New_Used)) = LTRIM(RTRIM(dbo.ProgramsUnique.New_Used)) AND 
LTRIM(RTRIM(dbo.GSFSContract_Detail.Rate_Book)) = LTRIM(RTRIM(dbo.ProgramsUnique.Rate_Book)))
--Left Join SentruityContractByDealerCode2016 ON [GSFSContract_Detail].Contract_Number = SentruityContractByDealerCode2016.[Contract_No]
Left Join SentruityContractByDealerCode ON [GSFSContract_Detail].Contract_Number = SentruityContractByDealerCode.[Contract No]
LEFT Join SentruityContractSplit2022List ON [GSFSContract_Detail].[Contract_Number] = SentruityContractSplit2022List.Contract_Number
LEFT JOIN GPWContractsLookupFor2022 ON GSFSContract_Detail.Contract_Number = GPWContractsLookupFor2022.Contract_Number
LEFT JOIN SentruityContractList2014 ON GSFSContract_Detail.Contract_Number = SentruityContractList2014.[Contract Number]


----TRI-PAC added 2/14/2023

insert into GPWContracts
select 
ltrim(rtrim(RawData_Contracts_TriPac.Contract)) + '_Tripac' AS [Contract_Id]  ,
NULL AS [Status_Id]  ,
'TRIPAC' AS [Insurance_Carrier], 
RawData_Contracts_TriPac.Sold AS [Contract_Sale_Date] , 
RawData_Contracts_TriPac.[Insurance Structure] AS [Production_Source] , 
NULL AS [New_Used] ,
NULL AS [Vehicle_Band] , 
NULL AS [Rate_Book] ,
NULL AS [Plan_Code] , 
NULL AS [Plan_Deductible],
NULL AS [Contract_Number],
RawData_Contracts_TriPac.Sold AS [Effective_Date] ,
RawData_Contracts_TriPac.Expires AS [Expiration_Date]  ,
RawData_Contracts_TriPac.Term AS [Contract_Term] ,
NULL AS [Expiration_Time_Terms]  ,
NULL AS [Sale_Odometer]  ,
NULL AS [Expiration_Odometer]  ,
NULL AS [Expiration_Time_mileage]  ,
RawData_Contracts_TriPac.Make AS [Make] , 
RawData_Contracts_TriPac.Model AS [Model]  , 
RawData_Contracts_TriPac.Year AS [Model_Year]  , 
RawData_Contracts_TriPac.Category AS [Vehicle_Class] , 
NULL AS [Surcharge_Description] ,
--premium1 includes reserve and clip fee
RawData_Contracts_TriPac.Premium1 AS [Base_Claim_Reserve] , 
0 AS [Surcharge_Reserve] , 
0 AS [Dealer_Remittance] ,
0 AS [Admin_Fees] ,
0 AS [Commissions] ,
RawData_Contracts_TriPac.[Estimated Earned Premium] AS [Claim_Reserve_Earned] ,
Case When RawData_Contracts_TriPac.Cancelled is null or RawData_Contracts_TriPac.Cancelled > @ValDate then '1/1/2100' else RawData_Contracts_TriPac.Cancelled end AS [Cancel_Calculation_Date],
Case When RawData_Contracts_TriPac.Cancelled is null or RawData_Contracts_TriPac.Cancelled > @ValDate then '1/1/2100' else RawData_Contracts_TriPac.Cancelled end AS [Refund_Date], 
0 AS [Refund_Reserve_Amount] , 
0 AS [Refund_Odometer_Mileage] , 
0 AS [Admin_5] ,
0 AS [Admin_7] ,
NULL AS [GPWPlanID] , 
NULL as [PlanGroup] , 
RawData_Contracts_TriPac.Term AS [GPWTerm] , 
RawData_Contracts_TriPac.[Insurance Structure] AS [GPWCoverage] , 
NULL AS [GPWObligor] , 
'' AS [GPW N/U/P] , 
RawData_Contracts_TriPac.Sold AS [GPWEffectiveDate] , 
NULL AS [GPWEffectiveMiles], 
RawData_Contracts_TriPac.Term AS [GPWTermMonths], 
NULL AS [GPWTermMiles] , 
NULL AS [GPWCancelDate], 
NULL AS [GPWCancelMiles] , 
NULL AS [GPWEffectiveQuarter] , 
NULL AS [GPWEffectiveQtr#] , 
NULL AS [GPWEffectiveYear] , 
RawData_Contracts_TriPac.Expires AS [GPWExpireDate] , 
NULL AS [GPWExpireMiles] , 
NULL AS [GPWCancelQuarter] , 
NULL AS [GPWCancelQtr#] , 
NULL AS [GPWRelativeCancelQtr] , 
NULL AS [GPWFlatCancel] , 
0 AS GPWContractCount,         
0 AS GPWCancelCount,         
0 AS GPWActiveReserve,         
0 AS GPWCancelReserve,         
0 AS GPWEstimatedAge,         
0 AS GPWMMEarnedPre,         
0 AS GPWEstimatedMiles,         
0 AS GPWMMEarnedPost,         
0 AS [GPWMMEarnedTotal%],         
0 AS GPWMMEarned,          
0 AS [EarnedQuarters],
0 AS [Earned%],
0 AS [GPWNetReserves] , 
0 AS [GPWEarnedReserves] , 
0 AS [GPWUnearnedReserves] , 
0 AS [GrossReserveAdj] , 
0 AS [RefundReserveAdj] , 
0 AS [NetReserveAdj] , 
0 AS [EarnedReserveAdj] , 
0 AS [UnearnedReserveAdj] , 
0 AS [GPWSentruityGrossPrem] , 
0 AS [GPWSentruityRefunds] , 
0 AS [GPWSentruityNetPrem] , 
0 AS [GPWSentruityEarnedPrem] , 
0 AS [GPWSentruityUnearnedPrem] , 
0 AS [GPWSentruityInsured],
NULL AS [GPWState],
'' AS [GPWAgg_VSC_MBI],
'' AS [GPWAgg_GAP],
'' AS [GPWAgg_SNV],
'' AS [GPWAgg_CCC],
'' AS [GPWAgg_TEC],
'' AS [GPWAgg_MTNG],
'' AS [GPWAgg_LTW] ,
'' AS [GPWAgg_SDC] ,
'' AS [GPWAgg_ANCL] ,
NULL AS [GPWReinsurer],
NULL AS [GPWDealer],
NULL AS [GPWClaimCount] ,
NULL AS [GPWClaims],
NULL AS GPWClaimCountHarvey
from RawData_Contracts_TriPac
where RawData_Contracts_TriPac.Status <> 'Cancelled'


UPDATE GPWContracts
SET GPWTermMonths = 
      Case when GPWTerm  < 4then 3
            when GPWTerm < 7then 6
            when GPWTerm < 13then 12
            when GPWTerm < 25then 24
            when GPWTerm < 37then 36
            when GPWTerm < 49then 48
            when GPWTerm < 61then 60
            when GPWTerm < 73then 72
            when GPWTerm < 85then 84
            when GPWTerm < 97then 96
            else 120 
      end
GO
